/* =====================================
PAGE LAYOUT */
#burger-groups {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0, auto;

}

#to-eat{
    width: 50%;
}

#eaten {
    width: 50%;
}



/* =====================================
FONT STYLING */
h1 {
    text-align: center;
    font-weight: bold;
}

.jumbotron p {
    text-align: center;
}

h2 {
    text-align: center;
}

/* =====================================
FORM STYLING */
#form-container {
    margin: 0 auto;
    padding: 100px;
}

#submit {
    margin: 0 auto;
    text-align: center;
}